<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beautyfresh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAdmin"></activity>
        <activity android:name=".viewCalculatiopn" />
        <activity android:name=".ViewShoppingCart" />
        <activity android:name=".AddToShoppingCart" />
        <activity android:name=".Register" />
        <activity android:name=".SucessPayment" />
        <activity android:name=".UpdateDeleteShipping" />
        <activity android:name=".AddPaymentDetails" />
        <activity android:name=".AddShippingDetails" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>